
KickAssProject.xcodeproj/project.xcworkspace/xcshareddata/KickAssProject.xccheckout

KickAssProject.xcodeproj/project.xcworkspace/xcuserdata/jeremy.xcuserdatad/UserInterfaceState.xcuserstate

KickAssProject.xcodeproj/xcuserdata/jeremy.xcuserdatad/xcschemes/KickAssProject.xcscheme

KickAssProject.xcodeproj/xcuserdata/jeremy.xcuserdatad/xcschemes/ObjectiveChipmunk.xcscheme

KickAssProject.xcodeproj/xcuserdata/jeremy.xcuserdatad/xcschemes/xcschememanagement.plist
